*{
    background-color: #ecf0f1;
}



table{
    margin-top: 20px;
    border-collapse: collapse;

}

th,td{
    min-width: 30px;
    /* width is increasing with extra content */
    border: 1px solid #9da4ad;
}

td {
    outline: none;
}

#table-body>tr>td{
    min-width: 80px;
}

#button-container{
    /* display: flex; */
    margin-right: 5px;
}

/* button{
    border-radius: 3px;
} */